{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'cmp_code.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'cmp_code.css' %}">
    <title>Code Comparison</title>
</head>

<body>
    <div class="container">
        <h1>Code Comparison System</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="flex">
                <div class="textarea-container">
                    <label for="code_input1">Comparison Code (比較者):</label><br>
                    <textarea id="code_input1" name="code_input1">{{ code_input1 }}</textarea><br><br>

                    <label for="file_input1">選擇檔案:</label><br>
                    <div class="file-upload-container">
                        <input type="file" id="file_input1" class="file-input">
                        <button type="button" id="upload_file1" class="upload-button">Upload</button>
                    </div><br><br>
                </div>

                <div class="textarea-container">
                    <label for="code_input2">Compared Code (被比較者):</label><br>
                    <textarea id="code_input2" name="code_input2">{{ code_input2 }}</textarea><br><br>

                    <label for="file_input2">選擇檔案:</label><br>
                    <div class="file-upload-container">
                        <input type="file" id="file_input2" class="file-input">
                        <button type="button" id="upload_file2" class="upload-button">Upload</button>
                    </div><br><br>
                </div>
            </div>

            <button type="submit">Compare</button>
        </form>

        <h2>Comparison Result:</h2>
        <div class="result-container">
            <div class="result-box">
                <h3>Code 1</h3>
                <div class="result" id="result_left">{{ result_left|safe }}</div>
            </div>
            <div class="result-box">
                <h3>Code 2</h3>
                <div class="result" id="result_right">{{ result_right|safe }}</div>
            </div>
        </div>
    </div>
</body>

</html>